# KAPy minimum working example
#
# This configuration provides a minimum working example of a KAPy configuration, 
# performing the simplest version of a KAPy pipeline (primaryVars, one indicator,
# areal statistics and outputs). The file can also be used as a template to build 
# up your own custom configuration.  More details can be found in the GitHub 
# documentation and the tutorials, most of which use this configuration as a point of departure.
#
# The config also assumes the presence of the tutorial dataset, which can be downloaded
# from https://download.dmi.dk/Research_Projects/KAPy/tas_example_dataset.zip
# See Tutorial 01 in particular for more information
# 
# For a more complete configuration, taking advantage of all features, see the configuration
# in ./workflow/testing

configurationTables:
    periods:  'config/periods.tsv'
    seasons: 'config/seasons.tsv'
    inputs:  'config/inputs.tsv'
    indicators: 'config/indicators.tsv'
    secondaryVars: ''   
    calibration: '' 
    tertiaryVars: ''  
dirs:
    primaryVariables: 'outputs/01.primaryVars'
    secondaryVariables: 'outputs/02.secondaryVars'
    calibration: 'outputs/03.calibration'
    tertiaryVariables: 'outputs/04.tertiaryVars'
    indicators: 'outputs/05.indicators'
    regridded: 'outputs/06.commmon_grid'
    ensstats: 'outputs/07.ensstats'
    arealstats: 'outputs/08.areal_statistics'
    outputs: 'outputs/09.outputs'
    tempDir: 'outputs/tmp'
outputs:
    ensembleStatisticsCSV: 'Ensemble_statistics.csv'
    ensembleMembersCSV: 'Ensemble_members.csv'
    database: 'KAPy_outputs.sqlite'

# Configuration options------------------------------------
arealstats:
    useAreaWeighting: False
    shapefile: '' 
    idColumn: ''  
cutouts:
    method: 'lonlatbox'  #'none'
    xmin: -4
    xmax: 2
    ymin: 4
    ymax: 12
ensembles:
    upperPercentile: 90
    centralPercentile: 50
    lowerPercentile: 10
outputGrid:
    templateType: 'cdo'
    gridName: 'Ghana025'
    method: 'bilinear'
    path: 'config/griddes.txt'
processing:
    picklePrimaryVariables: False
    
