configurationTables:
    inputs:  'config/inputs.tsv'
    indicators: 'config/indicators.tsv'
    secondaryVars: 'config/secondaryVars.tsv'
    calibration: 'config/calibration.tsv'
    tertiaryVars: 'config/tertiaryVars.tsv'
    periods:  'config/periods.tsv'
    seasons: 'config/seasons.tsv'
dirs:
    primaryVariables: 'outputs/01.primaryVars'
    secondaryVariables: 'outputs/02.secondaryVars'
    calibration: 'outputs/03.calibration'
    tertiaryVariables: 'outputs/04.tertiaryVars'
    indicators: 'outputs/05.indicators'
    regridded: 'outputs/06.commmon_grid'
    ensstats: 'outputs/07.ensstats'
    arealstats: 'outputs/08.areal_statistics'
    outputs: 'outputs/09.outputs'
    tempDir: 'outputs/tmp'

# Configuration options------------------------------------
arealstats:
    useAreaWeighting: True
    shapefile: 'docs/tutorials/Tutorial05_files/Ghana_regions.shp'
    idColumn: 'ADM1_PCODE'
cutouts:
    method: 'lonlatbox'  #'none'
    xmin: -4
    xmax: 2
    ymin: 4
    ymax: 12
ensembles:
    upperPercentile: 90
    centralPercentile: 50
    lowerPercentile: 10
outputGrid:
    templateType: 'cdo'
    gridName: 'Ghana025'
    method: 'bilinear'
    path: 'config/griddes.txt'
processing:
    picklePrimaryVariables: False
    
